# Default ignored files
/shelf/
/workspace.xml
.idea/
Projects/Sunflower/Code/UnityApp/MyPlants/.vscode
Projects/Sunflower/Code/UnityApp/MyPlants/Logs
Projects/Sunflower/Code/UnityApp/MyPlants/Library
Projects/Sunflower/Code/UnityApp/MyPlants/Temp

Projects/TrainNetwork/UnityApp/MyTrains/.vscode
Projects/TrainNetwork/UnityApp/MyTrains/Logs
Projects/TrainNetwork/UnityApp/MyTrains/Library
Projects/TrainNetwork/UnityApp/MyTrains/Temp
